.env
/myenv
/notes.ipynb
/work_files/data_base/*.json
/acc_token.txt
/acsses_token
/__pycache__
/work_files/__pycache__
/work_files/data_base/__pycache__
/work_files/scraper/__pycache__
/work_files/scraper/get_methods/__pycache__